---
import Navigation from '../components/Navigation.astro';

const { title } = Astro.props;
const siteName = "Oezay";
const fullTitle = title ? `${title} | ${siteName}` : siteName;
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width" />

	<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
	<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
	<link rel="shortcut icon" href="/favicon.ico" />
	<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
	<link rel="manifest" href="/site.webmanifest" />

	<meta name="generator" content={Astro.generator} />
	<title>{fullTitle}</title>
</head>
<body>
<Navigation />
<slot />
</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
		font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		color: #111;
	}
</style>
